/* Cross Browser Compatability CSS */
/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }

/* define element standards */

body {
	font-size: 1em;
	font-family: 'Lato', sans-serif;
	padding-bottom: 15%;
	line-height: 1.25;
}
h1 {
	font-family: "Sacramento",cursive;
	color: #f1544a;
	font-size: 6.854em;
	/* 109.656 * 16 */
	line-height: .6;
}
h2 {
    font-size: 2.618em;
	/* 41.887 / 16 */
}
h3 {
    font-size: 1.618em;
/* 25.888 / 16 */
}
h4 {
    font-size: 1em;
}
h5{
	font-size: 1em;
	}
h6{
	font-size: .75em;
}
p {
    font-size: 1em;
}
ul {
	list-style: none;
}
li {
	display: inline;
}
a {
	text-decoration: none;
	color: #f1544a;
}
*{
	margin: 0;
}
/* Write your CSS styles here */
html, body{
	height: 100%;
}
.wrapper{
min-height: 100%;
position: relative;
}
.navbar {
	background-color: none;
	position: static;
	z-index: 9999;
	width: 100%;
	height: 14%;
}
.header-logo{
	margin: 1.5% 5%;
	float: left;
}
.menu-links{
	float: right;
	margin: 2.5% 5%;
}
.navbar a{
	font-size: 1.6175em;
	/* 25.88 * 16 */
	font-family: 'Lato', sans-serif;
	text-decoration: none;
}
.navbar a{
	color: #34343E;
	margin: 0 10px 0 10px;
}
.navbar a:hover{
	color: #f1544a;
}
.new {
	font-style: italic;
	font-weight: 700;
	color: #f1544a;
}
#home-wrapper, #contact-container, #about-container, #work-container{
	display: table;
 	background-size: cover;                     
    background-repeat: no-repeat;
    background-position: center center;  
    min-width: 100%;
    height: 100vh;
}
#home-wrapper {
   background-image: url('photos/hero_new.jpg');
}
.layer {
    background: -webkit-linear-gradient(rgba(255,255,255,0),rgba(0,0,0,.6));
 	background-size: cover;                     
    background-repeat: no-repeat;
    background-position: center center; 
    top: 0;
    left: 0;
    min-width: 100%;
    height: 100vh;
}
#contact-container{
    background-image: url('photos/contact_image.jpg');
    color: white;
}
#work-container{
	background-color: #34343E;
}
.work-header{
	color: white;
	text-align: center;
	margin: 5% 0 0 0;
}
.gridder{
	list-style-type:none;
	width: 98%;
	margin: 2.5% 1% 5% 1.5%;
}
.gridder-list{
	display:inline-block;
	vertical-align:center;
	cursor:pointer;
	width: 31.8333%;
	margin: .5%;
}
.gridder-list img{
	max-width: 100%;
}
.gridder-show{
	display:block;
	float:left;
	width:100%;
	position:relative;
	background:#EEE url("../images/loading-spin.svg") no-repeat center;
}
.gridder-show.loading{
	background:#EEE url("../images/loading-spin.svg") no-repeat center;
}
.gridder-content{
	display:none
}
.gridder-show{
	padding:1%;
	background:#EEE;
	margin-bottom:1%;
}
.gridder-show a{
	margin: 0 1%;
	text-decoration: none;
	color: #34343E;
}
.gridder-navigation, .gridder-nav.disabled{
	opacity:.5
}
.gridder-list:hover{
	opacity:0.8;
}
.hasSelectedItem .gridder-list{
	opacity:0;
}
.hasSelectedItem .gridder-list.selectedItem{
	opacity:1;
}
.col-sm-6{
	float: left;
	width: 48%;
	margin: 0 1%;
}
.description{
	vertical-align: top;
	font-size: 2em;
	line-height: .75;
	margin: 0 0 10px 0 ;
}
.col-sm-6 img{
	max-width: 100%;
}
.home-copy{
	margin: 19% 20%;
	width: 60%;
	line-height: .9;
	position: absolute;
	z-index: 9999;
	text-align: center;
}
.about-title, .work-header, .contact-header {
	font-size: 4.235625em;
    /* 67.77 / 16*/
     font-family: "Libre Baskerville", serif;
}
.header-title, .header-skills{
	font-family: "Lato", sans-serif;
	color: #34343E;
    font-size: 1.6175em;
}
#about-container{
	color: #34343E;
	text-align: center;
}
.about-copy{
	width: 90%;
	margin: 2.55% auto;
}
.about-copy a{
	text-decoration: none;
	color: #F1544A;
}
.verse{
	font-weight: 100;
}
.about-copy-bio{
	font-weight: 300;
	font-size: 1.309em;
/* 20.944px / 16*/
} 
.contact-copy{
	margin-top: 10%;
	float: right;
	text-align: right;
	margin-right: 15%;
	max-width: 40%;
	color: white;
}
.contact-header{
	color: #f1544a;
}
.logo-signature{
	margin-left: auto;
	margin-right: auto;
	display: block; 
}
.bold, .italic{
	color: #f1544a;
	font-weight: 700;
}
.italic{
	font-style: italic;
}
.letter-signature{
	color: white;
	font-weight: 300;
}
.footer-container{
	position: absolute;
	bottom: 0;
	width: 100%;
	background: none;
	color: white;
}
.copyright{
	float: left;
	margin: auto 2.5%;
}
.social{
	float: right;
	margin: auto 1.5% 1% 1.5%;
}
.social li{
	margin: 15px;
}
/*media queries start*/

@media  (min-width: 1380px){
h1 {
    font-size: 4.87096875em;
    /* 67.77 / 16*15% */
     font-family: "Libre Baskerville", serif;
}
h2 {
    font-size: 3.010125em;
	/* 41.88 / 16  *15%*/
}
h3 {
    font-size: 1.860125em;
/* 25.88 / 16 *15% */
}
h4 {
    font-size: 1.15em;
    / 1 *15% */
}
h5{
	font-size: 1.15em;
	 / 1 *15% */
	}
h6{
	font-size: .8625em;
	 / .75 *15% */
}
p {
    font-size: 1em;
     / 1 *15% */
}
.home-copy{
	margin-top: 16%;
}
.header-name{
	font-family: "Sacramento",cursive;
	color: #f1544a;
	font-size: 7.88558594em;
	/* 109.7125 * 16 *15% */
	line-height: .5;
}
.about-copy{
	margin-top: 14%;
	max-width: 60%;
}
.contact-copy{
	margin-top: 14%;
	float: right;
	text-align: right;
	margin-right: 15%;
	max-width: 40%;
}
}

@media  (max-width: 1024px){
h1 {
    font-size: 4.236em;
     font-family: "Libre Baskerville", serif;
}
h2 {
    font-size: 2.618em;
}
h3 {
    font-size: 1em;
}
p {
    font-size: .618em;
}
.new {
	font-weight: 300;
}
.header-logo{
	margin: 0 auto;
	float: none;
}
.header-name{
	font-family: "Sacramento",cursive;
	color: #f1544a;
	font-size: 6.854em;
	line-height: .5;
}
.home-copy{
	margin: 16% auto 0 auto;
}
.about-copy{
	margin-top: 10%;
}
.contact-copy{
	margin: 14% auto 0 auto;
	float: none;
	text-align: center;
	max-width: 60%;
}
.menu-links{
	float: none;
	margin: 2.5% 5%;
}
.navbar a{
	font-size: 1.618em;
	font-family: 'Lato', sans-serif;
	text-decoration: none;
}
.home-copy{
	width: 90%;
	margin: 30% auto;
}
.gridder-list{
	width: 48.5%;	
}
.col-sm-6{
	float: none;
	width: 98%;
	margin: 1%;
}
}
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
.navbar{
	position: relative;
	height: 20%;
}
.home-copy{
	width: 90%;
	margin-top: 10%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 5%;
}
.header-same, .header-title, .header-skills, .header-inspire{
	font-family: 'Lato', sans-serif;
	font-weight: 500;
}
.header-name{
	font-size: 4.8em;	
}

.about-copy{
	margin: 5% 0;
}
.verse{
	color: white;
}
.contact-copy{
	width: 95%;
	margin-top: 5%;
	}
.logo-signature{
	display: none;
	}
	}

@media (max-width: 760px){
h1 {
    font-size: 4.236em;
     font-family: "Libre Baskerville", serif;
}
h2 {
    font-size: 2.618em;
}
h3 {
    font-size: 1em;
}
p {
    font-size: 1em;
}
.about-title, .work-header, .contact-header {
	font-size: 2.618em;
    /* 67.77 / 16*/
     font-family: "Libre Baskerville", serif;
}
.navbar{
	position: relative;
}
.navbar a{
	font-size: 1em;
}
.header-same, .header-title, .header-skills, .header-inspire{
	font-family: 'Lato', sans-serif;
	font-weight: 500;
}
.header-name{
	font-size: 4.8em;	
}
h1{
	2.82375em;
}
.contact-copy{
	width: 95%;
	margin-top: 25%;
	}
.logo-signature{
	display: none;
}
.copyright{
	float: none;
	margin: 2.5% auto;
	width: 80%;
	font-weight: 700;
}
.social{
	float: none;
	margin: auto 1.5% 1% 1.5%;
}
.social li{
	margin: 10px;
}
.gridder-list{
	width: 98%;
}
	}
	
