/* Cross Browser Compatability CSS */
/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }

/* define element standards */

body {
	font-size: 1em;
	font-family: 'Lato', sans-serif;
	color: black;
	text-align: center;
	padding-bottom: 15%;
	line-height: 1.25;
}
h1 {
    font-size: 4.235625em;
    /* 67.77 / 16*/
     font-family: "Libre Baskerville", serif;
}
h2 {
    font-size: 2.6175em;
	/* 41.88 / 16 */
}
h3 {
    font-size: 1.6175em;
/* 25.88 / 16 */
}
h4 {
    font-size: 1em;
}
h5{
	font-size: 1em;
	}
h6{
	font-size: .75em;
}
p {
    font-size: 1em;
}
ul {
	list-style: none;
}
li {
	display: inline;
}
a{
	text-decoration: none;
	color: #F1544A;
	}
*{
	margin: 0;
}
/* Write your CSS styles here */
html, body{
	height: 100%;
	margin: 0;
	padding: 0;
}
.wrapper{
min-height: 100%;
position: relative;
}
.navbar {
	background-color: #DCDCDC;
	position: fixed;
	z-index: 9999;
	width: 100%;
	height: 14%;
}
.header-logo{
	margin: 10px 0 10px 0;
}
.navbar a, .navbar a:hover{
	font-size: 1.6175em;
	/* 25.88 * 16 */
	font-family: 'Lato', sans-serif;
}
.navbar a{
	color: white;
	margin: 0 10px 0 10px;
}
.navbar a:hover{
	color: #f1544a;
}
.port-wrapper{
	display: table;
 	background-size: cover;                     
    background-repeat: no-repeat;
    background-position: center center;  
    min-width: 100%;
    height: 100vh;
}
.port-wrapper img{
	max-width: 100%;
	max-height: 100%;
}
.examples{	
	width: 45%;
	margin: 2% 2% 2% 2%;
	float: left;
	margin-top: 10%;
}
.examples img{
	margin: 5% 1.5%;
	width: 90%;
}
.description{
	margin: 0 auto 5% auto;
	width: 80%;
	
}
.header{
	font-family: "Libre Baskerville", serif;
	padding: 1%;
	}
.bold{
	font-weight: 700;
}
.social-container{
	position: absolute;
	width: 100%;
	background: #DCDCDC;
}
.social-box{
	padding: 10px;
}
.social li{
}
@media (max-width: 768px) {
.examples{
	width: 90%;
	margin: 0 auto;
	float: none;
	margin: 25% auto 10% auto;
}
.navbar{
	height: 10%;
	}
.navbar-header {
	display: none;
}